@font-face {
    font-family: altone;
    src: url(fonts/AltoneTrial-Bold.ttf);
}

@font-face {
    font-family: altone-regular;
    src: url(fonts/AltoneTrial-Regular.ttf);
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: altone;
}

body {
    background-color: #F9F8F3;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 24px;
    padding: 18px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #ffffff;
}

.flex {
    flex-grow: 1;
    display: flex;
    height: 100%;
    min-height: 600px;
}

.flex-item {
    flex-grow: 1;
}

.left-column, .right-column {
    position: relative;
    height:100%;
}


@media screen and (max-width: 1000px) {
    .right-column {
        display: none;
    }    
}


.profile-section {
    width: 400px;
    height: 400px;

    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.profile-intro {
    position: absolute;
    top: 75%;
}

.profile-intro h1, .profile-intro h2 {
    padding: 0px;
    margin: 0px;
}

.profile-intro h1 {
    font-size: 55px;
}

.profile-intro h2 {
    font-family: altone-regular;
    margin-bottom: 12px;
    margin-left:12px;
    font-size:28px;
}

.profile-blurb {
    margin-left:20px;
    font-size: 24px;
    font-family: altone-regular;
    position: relative;
    top: 5%;
}

.profile-blurb p {
    margin-block-start: 5px;
    margin-block-end: 0px;
}

.anchor-about-me {
    color: #086AAD;
}

.anchor-apps {
    color: #B760C1;
}

.anchor-projects {
    color: #F39090;
}

.ide-animation {
    width: 600px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ide-animation .code-section {
    position:absolute;
    top: 30px;
    padding-left: 10px;
}

.code-item {
    height:20px;
    min-width: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-left: 10px;
}

.size-1 {
    width: 33px;
    animation-name: expand-1;
    animation-duration: 0.2s;
}

.size-1-no-anim {
    width: 33px;
}

@keyframes expand-1 {
    from {width: 10px;}
    to {width: 33px;}
}

.size-2 {
    width: 66px;
    animation-name: expand-2;
    animation-duration: 0.2s;
}

@keyframes expand-2 {
    from {width: 10px;}
    to {width: 66px;}
}

.size-3 {
    width: 100px;
    animation-name: expand-3;
    animation-duration: 0.2s;
}

@keyframes expand-3 {
    from {width: 10px;}
    to {width: 100px;}
}

.blue {
    background-color: #00C2FF;
}

.grey {
    background-color: #D9D9D9;
}

.invisible {
    background-color: #d9d9d900;
}